.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #363B74;
}

.nav {
    padding-top: 1.5rem;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #363B74;
}

.nav-option {
  text-align: right;
}

.nav-links {
  padding-left: 0.5rem;
  /* height: 5rem; */
  font-size: 18px;
}

.navbar-nav  li a {
    color: #FFFFFF !important;
}

.navbar-nav  li a:hover {
    font-weight: bold;
}

.navbar-brand {
  color: #FFFFFF;
  font-size: 40px;
  position: relative;
}

.brand-div{
  position: relative;
  text-align: right;
  height: 0;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #363B74;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.btn-primary {
  background-color: #363B74;
}

.btn-primary:hover{
  background-color: #5d5b7a;
}
.custom-file-input{
  width: 5rem;
}

.upload{
  padding-bottom: 3.3rem;
}

.jumbotron {
  background-color: #FFFFFF !important;
  padding-bottom: 1rem !important;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.alert{
  position: relative;
  top: 5px;
}
